<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/add.css">
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <div class="topnav-right">
            <a href="/account" class="border-left">Account</a>
            <a onclick="myFunction()" id="modeSwitcher" class="mode-switcher">Night mode</a>
        </div>
        <div class="topnav-centered">
            <a class="nav-link" href="/index" style="margin-left: 400px;">Brand guides</a>
            <a class="nav-link" href="/add" style="margin-left: 100px;"><span>New brand guide</span></a>
            <a class="nav-link" href="/share" style="margin-left: 100px;">Share brand guide</a>
        </div>


        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="addmain">
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        <div style="padding-top: 100px;">
                            <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                                <div>
                                    <label for="name">Project name:</label>
                                    <br>
                                    <input type="text" name="name" required />
                                </div>

                                <label for="firstimage" class="form-label">Main Logo:</label>
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <input class="file-upload-input" type='file' onchange="readURL(this);"
                                            accept="image/*" name="firstimage" />
                                        <div class="drag-text">
                                            <h3>Drag and drop a file or select Add</h3>
                                        </div>
                                    </div>
                                    <button class="file-upload-btn" type="button"
                                        onclick="$('.file-upload-input').trigger( 'click' )">Add</button>
                                    <div class="file-upload-content">
                                        <img class="file-upload-image" src="#" alt="your image" />
                                        <div class="image-title-wrap">
                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove
                                                <span class="image-title">Uploaded Image</span></button>
                                        </div>
                                    </div>
                                </div>
                                <p>* Logo will be displayed in 300*300px</p>

                                <div style="margin-top: 50px;">
                                    <label for="bgcolor">Creator:</label>
                                    <input type="text" name="creator" />
                                </div>
                                <div style="margin-bottom: 50px;">
                                    <h4>Font Color</h4>
                                    <input class="radio" type="radio" name="fontcolor" value="black" checked>
                                    <label style="margin-left: 20px; font-size:23px;">Black</label>
                                    <input class="radio" type="radio" name="fontcolor" value="white"
                                        style="margin-left: 50px;">
                                    <label style="margin-left: 20px; font-size:23px;">White</label>
                                </div>

                                <div>
                                    <label for="bgcolor">Background-color:</label>
                                    <br>
                                    <input type="text" name="bgcolor" required />
                                </div>
                                <div>
                                    <label for="navbgcolor">Navigation background-color:</label>
                                    <br>
                                    <input type="text" name="navbgcolor" required />
                                    <p>* Supports CSS color names, HEX, RGB, RGBA, HSL, HSLA, Predifined/cross-browser
                                        color names</p>
                                </div>

                                <div class="layout">
                                    <h4>Layout:</h4>
                                    <input class="radio" type="radio" name="layout" value="side" checked>
                                    <img src="../images/side-layout-black.png" width="190px" height="120px"
                                        style="margin-left:20px;">
                                    <input class="radio" type="radio" name="layout" value="top"
                                        style="margin-left: 50px;">
                                    <img src="../images/top-layout-black.png" width="190px" height="120px"
                                        style="margin-left:20px;">
                                </div>

                                <input type="submit" name="submit" value="Add project" />
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });

        function myFunction() {
            var element = document.body;
            var btn = document.getElementById("modeSwitcher");
            element.classList.toggle("dark-mode");
            if (element.classList.contains("dark-mode"))
                btn.innerHTML = "Light mode";
            else
                btn.innerHTML = "Night mode";
        }
    </script>

</body>

</html>